.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-card {
    width: 500px;
    border-radius: 10px;
}

.custom-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.form-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
